*{
    box-sizing: border-box;
    margin:0 ;
}

@media screen and (min-width:125px){
   body {left: 0;
        right:0;
    }
}

body{
    border: 2cm;
    background-color:#fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: 125px;
    padding: 0px;
}

.profile{
    margin: 5px;
    padding-left: 20px;
}

.profile .pict-name{
    margin-bottom: 5px;
    padding-left: 35px;
}

.pict-name .element-float{
    float: left;
    padding-left: 15px;
}

.pict-name .element-float img{
    border-radius: 70px;
    border: none;
}

.pict-name .myname{
    margin-left: 275px;
    margin-bottom: 10px;
    margin-top: 25px;
    padding-top: 45px;
    font: 55px;
    font-weight: 100;
}

.profile .mail{
    padding-top: 2px;
    padding-bottom: 90px;
    padding-left: 15px;
}

.mail a{
    text-decoration: none;
    color: #000;
    font-size: 18px medium;
    font: 25em;
    padding-left: 85px;
} 

.mail span{
    background-color: #0000ff;
    height: 5.5em;
    width: 5em;
    border-radius: 5px; 
    padding-top: 10px;
    padding-bottom: 10px;
}

.mail span label{
    color: #fff;
    font: 1.5em bold;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.profile .presentation{
    margin-left: 60px;
    margin-bottom: 14px;
}

.presentation ul{
    padding-left: 2px;
}

.profile .contact-link{
    margin-top: 6px;
    margin-bottom: 10px;
}

.contact-link a{
    text-decoration: underline;
    font-size: 1.5rem;
    color: #0000ff;
}

.contact-link .phone-number{
    margin-right: 275px;
    padding-left: 25px;
}

.contact-link .github-link{
    margin-left: 275px;
}

.section-description{
    font-size: 1.5em;
    font-weight: 300;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}

.title-section{
    font: bold;
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 10px;
}

.skills .skill-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.skills .skill-item{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    border: 1px solid #707070;
    border-radius: 10px;
    width: 40;
    margin-top: 10px;
}

.skills .skills-list :hover{
    border: none;
    background-color: #ACC2EA;
    color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 16);
}

.skills .skill-item span{
    font-size: 60px;
    font-weight: 300;
    margin-left: 10px;
}

.section-lang{
    flex-direction: row;
    flex-wrap: wrap;
}

.section-lang .country-flag{
    float: left;
    width: 20%;
    margin: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    border: #817d7d solid;
    border-radius: 10px;
}

.country-flag img{
    border-radius: 17px;
    height:1cm;
    width: 1cm;
    float: left;
    margin-left: 7.5px;
    margin-right: 5px;
}

.country-flag p{
    margin-top: 7px;
}

.country-flag:hover{
    background-color: #ACC2EA;
    color: #fff;
}

.parcours{
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 7.5px;
}

.parcours hr{
    width: 15%;
}

.contact-form{
    margin: auto;
    border: none;
    overflow: hidden;
}

.contacter form{
    padding: 10px 10px 10px 10px;
    letter-spacing: normal;
    text-align: justify;
    justify-content: left;
}

.contacter form .tel-client{
    margin: 10px;
    flex-direction: row;
    display: inline-block;
}

.tel-client input[type="text"]{
    margin-bottom: 15px;
    margin-right: 7.5px;
    height:3.5em;
    width: 24em;
    border-radius: 17px;
}

.tel-client input[type="mail"]{
    height:3.5em;
    width: 49em;
    border-radius: 17px;
    margin-bottom: 15px;
}

form .message label{
    flex-direction: row;
}

.message label img{
    border-radius: 20px;
    height: 1.5cm;
    width: 1.5cm;
}

form textarea{
    border-radius: 17px;
    width: 49em;
    margin-top: 10px;
    margin-bottom: 7.5px;
}

form button{
    background-color: #0000ff;
    color: #fff;
    font: 5em;
    width: 7.5em;
    height: 2.5em;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.reference{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reference img{
    border-radius: 50px;
    padding-bottom: 10px;
    box-shadow: none;
    height: auto;
}

.reference a{
    text-decoration: #000;
    border: #000;
}

.reference a:hover{
    background-color: #008000;
    color: #fff;
}

.reference .authenticity{
    float: left;
    padding-left: 750px;
    flex-direction: row;
    flex-wrap: wrap;
}

.authenticity span{
    display: inline-block;
}

.authenticity span a{
    padding-left: 225px;
}